In [0]:
import pandas as pd
import numpy as np

In [0]:
dataset = pd.read_csv('http://opendata.cern.ch/record/545/files/Dimuon_DoubleMu.csv')

In [0]:
dataset.head()

,Run,Event,type1,E1,px1,py1,pz1,pt1,eta1,phi1,...,type2,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,165617,74601703,G,9.6987,-9.5104,0.3662,1.8633,9.5175,0.1945,3.1031,...,G,9.7633,7.3277,-1.1524,6.3473,7.4178,0.7756,-0.1560,1,17.4922
1,165617,75100943,G,6.2039,-4.2666,0.4565,-4.4793,4.2910,-0.9121,3.0350,...,G,9.6690,7.2740,-2.8211,-5.7104,7.8019,-0.6786,-0.3700,1,11.5534
2,165617,75587682,G,19.2892,-4.2121,-0.6516,18.8121,4.2622,2.1905,-2.9881,...,G,9.8244,4.3439,-0.4735,8.7985,4.3697,1.4497,-0.1086,1,9.1636
3,165617,75660978,G,7.0427,-6.3268,-0.2685,3.0802,6.3325,0.4690,-3.0992,...,G,5.5857,4.4748,0.8489,-3.2319,4.5546,-0.6605,0.1875,1,12.4774
4,165617,75947690,G,7.2751,0.1030,-5.5331,-4.7212,5.5340,-0.7736,-1.5522,...,G,7.3181,-0.3988,6.9408,2.2825,6.9523,0.3227,1.6282,1,14.3159

In [0]:
invariant_mass = np.sqrt(2*dataset.pt1*dataset.pt2*(np.cosh(dataset.eta1-dataset.eta2) - np.cos(dataset.phi1-dataset.phi2)))

In [0]:
print(invariant_mass)

0        17.491141
1        11.551450
2         9.160949
3        12.475563
4        14.314328
5         6.821025
6        39.533317
7        37.735704
8        10.536990
9         3.105639
10       10.405661
11       14.697853
12        0.721206
13       10.168314
14       31.079119
15        9.297533
16       11.517978
17       14.260681
18        5.755726
19       13.974370
20       15.538230
21       89.955085
22       14.024628
23        0.239913
24       10.800250
25       11.520241
26       10.538224
27       25.803352
28       16.503179
29       14.958826
           ...
99970     1.315033
99971    12.963490
99972     3.105760
99973     0.354508
99974     8.713765
99975     1.638327
99976    13.278933
99977    13.608583
99978    18.097931
99979    27.206356
99980    11.465895
99981    14.579363
99982     9.992219
99983    18.003868
99984    16.102962
99985     7.164253
99986     1.242760
99987    11.919742
99988     2.728419
99989     1.139903
99990    25.751863
99991    12.282806
99992    14.120185
99993    19.196073
99994     8.396729
99995    11.204075
99996    14.580022
99997    29.841969
99998    20.205780
99999     9.371710
Length: 100000, dtype: float64